$text: #fff;
$alt-text: #89b3f6;
$bg: #202123;
$alt-bg: #171717;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    background: none;
}

body {
    font-family: arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    display: block;
}

button {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}
img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

@mixin center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// .icon {
//     height: 1.25rem;
//     width: 1.25rem;
//     cursor: pointer;
// }
