@use "base" as *;

main {
    background-color: $bg;
    color: $text;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
* {
    // border: 1px solid red;
}

.icon {
    cursor: pointer;
}

// ==================================================================================
// nav styles ======================================================================
.nav {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0.5rem 0.8rem;
    gap: 1rem;
    // border: 1px solid red;

    &__links {
        display: flex;
        gap: 1rem;
        font-size: 0.8125rem;
    }

    &__icons {
        display: flex;
        gap: 0.5rem;
        .icon {
            padding: 0.3rem;
            // border: 1px solid red;
            border-radius: 50%;
            cursor: pointer;
            @include center;
            img {
                width: 2rem;
            }

            &:hover {
                background-color: lighten($color: $bg, $amount: 10%);
            }
        }
        .dots {
            width: 1.5rem;
        }
    }
}
// ==================================================================================
// form styles ======================================================================
.form-wrapper {
    // .form-content {
    // }
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -150px;
    // width: auto;
    // align-self: stretch;
    // margin-inline: auto;
    // border: 2px solid red;
    // margin: 0 auto;
    // width: max-content;
    form {
        // border: 2px solid red;
        align-self: stretch;
    }

    .search-field {
        background-color: darken($color: $bg, $amount: 0.5%);
        // border: 1px solid darken($color: $text, $amount: 50%);
        border: 1px solid #3b3b3b;
        border-radius: 1.5rem;
        height: 2.75rem;
        // width: auto;
        max-width: 560px;
        margin-top: 1.25rem;
        margin-inline: auto;
        padding: 0.5rem 1rem;
        display: flex;
        justify-content: start-between;
        align-items: center;
        gap: 1rem;

        &:hover {
            background-color: lighten($color: $bg, $amount: 10%);
            border: none;
        }
        .icon {
            height: 1.25rem;
            width: 1.25rem;
            cursor: text;
        }

        input {
            flex: 1;
            color: #fff;
            font-size: 1rem;

            &:focus {
                outline: none;
            }
        }
    }

    .btns {
        margin-inline: auto;
        width: max-content;
        padding-block: 2rem;
        display: flex;
        gap: 0.8rem;
        // border: 2px solid red;

        button {
            background-color: lighten($color: $bg, $amount: 6%);
            color: darken($color: $text, $amount: 5%);
            padding: 0.5rem 1rem;
            border-radius: 4px;
            font-size: 0.875rem;
            border: 0.2px solid lighten($color: $bg, $amount: 10%);

            &:hover {
                border-color: #999;
            }
        }
    }

    p {
        font-size: small;
        color: #bdc1c6;
        a {
            color: #8ab4f8;
        }
    }
}

// ==================================================================================
// form styles ======================================================================

.footer {
    // color: darken($color: $text, $amount: 50%);
    background-color: $alt-bg;
    color: #999da2;

    p {
        padding: 1rem 2rem;
        border-bottom: 1px solid #3c4043;
        font-size: 0.9rem;
    }
    &__links {
        display: flex;
        // justify-content: center;
        // justify-content: space-around;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-inline: 1.2rem;
        li {
            display: inline-block;
        }
        & > * {
            // display: flex;
            // margin-inline: auto;
            // {
        }
        a {
            display: block;
            padding: 0.9rem 0.8rem;
            font-size: 0.875rem;
        }
        // }
    }
}
